@model COMP2139_ICE.Areas.ProjectManagement.Models.Project


<h1>Delete Project</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <p>@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>